.wrapper {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .main-title {
        position: relative;
        margin-bottom: 0;
        text-align: center;
        color: white;
        font-size: 75px;
    }

    .menu-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .route-wrapper {
            margin: 15px 0;

            .btn {
                height: 50PX;
                width: 175px;
                font-size: 25px;
            }
        }
    }
}