<div id="menu-wrapper" class="wrapper">
    <h1 id="app-title" class="main-title">{{menuTitle | uppercase}}</h1>

    <div id="menu-options" class="menu-container">
        <div id="button-wrapper" class="route-wrapper" *ngFor="let option of options">
            <a routerLink="{{option.link}}/{{uid}}"
               id="{{option.anchorId}}"
               class="menu-button">
                <button id="{{option.buttonId}}"
                        type="button"
                        class="btn btn-primary">
                        {{option.name}}
                </button>
            </a>
        </div>
    </div>
</div>