<div id="dark-ocean-container" class="background-container">
  <div id="game-console" class="console">
    <router-outlet (activate)="onActivate()" *ngIf="angularAuth.user | async"></router-outlet>

    <div id="login-wrapper" class="login-container" *ngIf="!(angularAuth.user | async)">
      <h1 id="login-title" class="title">Please sign in first...</h1>
      <button id="login-button"
              type="button"
              class="btn btn-primary"
              (click)="signInClicked()">
              Sign in with Google
      </button>
    </div>

    <div id="logut-wrapper" class="logout-container" *ngIf="angularAuth.user | async">
      <button id="logout-button"
              type="button"
              class="btn btn-primary"
              (click)="signOutClicked()">
              Log Out
      </button>
    </div>
  </div>

  
  <div id="alert-wrapper" class="wrapper" *ngIf="userHasLeft">
    <div id="alert-group" class="alert alert-dismissible alert-warning">
        <h4 id="alert-title" class="alert-heading">Oops!</h4>
        <p id="alert-message" class="mb-0">It seems that the enemy surrendered...</p>
        <a routerLink="/main-menu" id="alert-route" class="alert-link">
          <button id="back-button"
                  type="button"
                  class="btn btn-outline-warning"
                  (click)="onBackClicked()">
                  Back to Menu
          </button>
        </a>
    </div>
  </div>
</div>
