.background-container {  
    position: relative; 
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-container::before {    
    content: "";
    background-image: url('../assets/dark-ocean.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

.console {
    position: relative;
    height: 600px;
    width: 800px;
    border: 1px solid white;
}

.console::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
